<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NestedSquare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7BDC6F31CC8CCC6003C12EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7BDC70C1CC8CCC7003C12EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7BDC7171CC8CCC7003C12EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
